<div class="columns small-12 large-4">
    <div class="card sticky-action">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="//placehold.it/300x300/02ECDC/000000">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title <i class="fa fa-ellipsis-v fa-pull-right" aria-hidden="true"></i></span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title <i class="fa fa-times fa-pull-right" aria-hidden="true"></i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
        <div class="card-action">
            <div class="row collapse align-justify ">
                <div class="column small-5 large-4">
                    <a href="{{root}}posts/defaultPost.html" class="expanded button">Read More</a>
                </div>
                <div class="column card-social small-6 large-6">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
