<div class="columns small-12 large-6">
    <div class="card horizontal">
      <div class="card-image">
        <img src="//placehold.it/100x200/02ECDC/000000">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <div class="row collapse align-right">
            <div class="columns small-8">
            </div>
            <div class="columns">
              <a href="#" class="tiny button">This is a link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
