<div id="hero" class="home-hero hero">
    <div class="row tpd-xl">
        <div class="column text-center">
            <h1><em>POST TITLE</em></h1>
        </div>
    </div>
</div>
{{> postBar}}
<div id="content" class="page-content">
    <div class="row">
      <!-- IDEA: Add a sidebar nav for related posts and other content -->
        <!-- <div class="columns large-3">
            {{> sideBar}}
        </div> -->
        <div class="columns large-12">
            <div class="tabs-content post-content" data-tabs-content="example-tabs">
                <div class="tabs-panel post-panel is-active" id="postpanel">
                    <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl
                        ut dapibus.</p>
                </div>
                <div class="tabs-panel post-panel" id="commentspanel">
                  <!-- TODO: ADD Discord Comments here -->
                    <p>Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Sed auctor neque eu tellus rhoncus ut eleifend nibh
                        porttitor.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="dotted">
