<div class="row">
    <div class="column text-right align-middle page-links">
        <ul>
            <li><a href="{{root}}tags/salesforce.html">Salesforce</a></li>
            <li><a href="{{root}}tags/projects.html">Projects</a></li>
        </ul>
    </div>
    <div class="large-2 column shrink">
        <a href="/"><img class="logo" src="{{root}}assets/img/logo/logoShortWhite.svg" /></a>
    </div>
    <div class="column text-left align-middle page-links">
        <ul>
            <li><a href="{{root}}tags/gaming.html">Gaming</a></li>
            <li><a href="{{root}}tags/comics.html">Comics</a></li>
        </ul>
    </div>
</div>
