<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
    <ul class="vertical dropdown menu mobileNav" data-dropdown-menu>
        <button class="close-button" aria-label="Close menu" type="button" data-close><span aria-hidden="true">&times;</span></button>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/salesforce">Salesforce</a></li>
        <li><a href="/about">About</a></li>
        <li><a class="expanded button" data-open="getResume" href="#">Resume</a></li>
    </ul>
</div>
