
.hero {
    min-height: 400px;
    h1 {
        font-size: 2.5em;
        letter-spacing: 3px;
    }
}

.home-hero {
    background: url(../img/home/c4.jpg);
    background-attachment: fixed;
    background-position: 50% 0;
    color: #fff;
}

.about-hero {
    background: url(../img/c3.jpg);
    background-attachment: fixed;
    background-position: 50% 0;
    color: #000;
}

.web-hero {
    background: url(../img/c4.jpg);
    background-attachment: fixed;
    background-position: 50% 0;
    color: #000;
    min-height: 500px;
    margin-top: -100px;
}

.app-hero {
    background: url(../img/c5.jpg);
    background-attachment: fixed;
    background-position: 50% 0;
    color: #000;
    min-height: 500px;
    margin-top: -100px;
}
