<div class="sidebar">
  <ul class="accordion" data-accordion data-allow-all-closed="true">
      <li class="accordion-item" data-accordion-item>
          <a href="#panel3v" class="accordion-title">Related Posts</a>
          <div class="accordion-content" data-tab-content>
            {{#repeat 20}}
              <a href="#">Post Title</a>
            {{/repeat}}
          </div>
      </li>
      <li class="accordion-item" data-accordion-item>
          <a href="#panel3v" class="accordion-title">Featured Posts</a>
          <div class="accordion-content" data-tab-content>
            {{#repeat 20}}
              <a href="#">Post Title</a>
            {{/repeat}}
          </div>
      </li>
      <li class="accordion-item" data-accordion-item>
          <a href="#panel3v" class="accordion-title">Related External Info</a>
          <div class="accordion-content" data-tab-content>
            {{#repeat 20}}
              <a href="#">Post Title</a>
            {{/repeat}}
          </div>
      </li>
  </ul>
</div>
