<div id="hero" class="home-hero hero">
    <div class="row tpd-xl">
        <div class="column text-center">
            <h1><em>Exploring the Internet of things one project at a time</em></h1>
            <h6>Salesforce Developer | PM | Marketing Specialist</h6>
        </div>
    </div>
</div>

<div id="content" class="page-content">
    <div class="row">

      {{#repeat 20}}
      {{> card}}
      {{/repeat}}

    </div>
</div>
