.design-spacer {
	border-top: 4px double #fa7921;
	text-align: center;
}
.design-spacer:after {
	content: 'START TEMPLATE';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #FEFEFE;
	color: #fa7921;
	font-size: 18px;
}
