
// Padding and Margin Classes
.tpd-xl {
    padding-top:150px
}

.tpd-xxl {
    padding-top:250px
}

.vpd-md {
    padding: 40px 0;
}

.vpd-lg {
    padding: 75px 0;
}

.vpd-xl {
    padding: 150px 0;
}

// Global Colors
.off-canvas-wrapper {
    background:#222;
}


// Text & Font Stuff
.tonal-text-lt {
    color: rgba(255,255,255,.2);
}

.tx-subheading {
    font-size: 1.2em;
    color: #666;
    line-height: 1.4em;
}

// logo
    .logo {
        width: 160px;
        height: auto;
        transition: width .25s ease-out;
    }
    .small-logo {
        width: 9em;
        height: 4em;
    }

    .is-stuck .logo {
        width:160px;
        height: auto;
        transition: width .25s ease-out;
    }

// Global Site Elements

hr.dotted {
    border-style: dashed;
    margin: 2rem 0;
}

// Main Site Structure
.page-content {
    margin-top: 50px;
}
