/* HSL */
// $color1: hsla(70%, 3%, 40%, 1);
// $color2: hsla(0%, 0%, 13%, 1);
// $color3: hsla(217%, 44%, 50%, 1);
// $color4: hsla(330%, 14%, 97%, 1);
// $color5: hsla(70%, 3%, 40%, 1);
// $color6: hsla(27%, 75%, 41%, 1);

/* RGB */
// $color1: rgba(250, 121, 33, 1);
// $color2: rgba(34, 34, 34, 1);
// $color3: rgba(71, 115, 184, 1);
// $color4: rgba(249, 247, 248, 1);
// $color5: rgba(104, 105, 99, 1);
// $color6: rgba(182, 95, 26, 1);

/* HEX */
// $color1: #fa7921;
// $color2: #222222;
// $color3: #4773b8;
// $color4: #f9f7f8;
// $color5: #686963;
// $color6: #b65f1a;

// Color Scheme
$text:#333;
$tonal-bg:darken(#fff, 3%);

$primary-color: #4773b8;
$secondary-color: #686963;
$dark-gray:#222;



// Variable Classes
.tx-primary {
    color: $primary-color;
}

.tx-secondary {
    color: $secondary-color;
}

.tx-white {
    color: #fff;
}
