<!-- Navigation for the design enviornment. This will not be imported to the Ghost Theme. -->
<div class="column row">
  <ul class="menu">
    <li class="menu-text">DTS Blog Design</li>
    <li><a href="{{root}}index.html">Blog Home</a></li>
    <li><a href="{{root}}styleguide.html">Style Guide</a></li>
    <li><a href="https://bitbucket.org/drewtsnyder/design">Bitbucket Repo</a></li>
    <li><a href="http://foundation.zurb.com/docs/">Zurb Docs</a></li>
  </ul>
</div>
<hr class="design-spacer">
