.get-resume {
    position: fixed;
    top: 0;
    z-index: 100;
    @include breakpoint(small) {
        right: .25em;
    }
    @include breakpoint(medium) {
        right: 1em;
    }

    @include hide-for(large);

    a {
        display: block;
        color: #fff;
        background: #4773b8;
        box-shadow: 0px 4px 10px rgba(0,0,0,.2);
        @include breakpoint(small) {
            padding: 1.25em 0.5em;
        }
        @include breakpoint(medium) {
            padding: .5em 1em;
        }
    }
}
