{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="https://use.fontawesome.com/da8c7c0c14.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700|Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/svg" href="/img/logo/favicon-32.png">
  </head>
  <body>
    {{> designNav}}
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
          <div class="header">
              {{> offCanvasNav}}
          </div>
          <div class="off-canvas-content" data-off-canvas-content>
            <div class="main">
          		{{> body}}
            </div>
            {{> footer}}
          </div> <!-- Close off-canvas-content -->
      </div> <!-- Close Inner Wrap -->
    </div> <!-- Close Outer Wrap -->

      <!-- Bottom JavaScripts -->
      <script src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.2/motion-ui.min.js"></script>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
