// Nav
.main-site-nav {
  padding: 1rem 2rem;
  transition: padding .25s ease;
  background: $dark-gray;
  width: 100%;
  border-bottom: solid 1px #000;
  border-top: solid 1px #000;
  box-shadow: 0px 4px 10px rgba(0,0,0,.1);
  position: relative;
  .menu {
      background: transparent;
  }
  .button {
      margin: 0;
  }
  ul {
      list-style: none;
      margin:0;
      padding: 0;
  }
  li {
      margin: 0 5%;
      display: inline-flex;
  }
  a {
      color:#fff;
      position: relative;
      padding:.5em 0;
      &:hover,
      &:focus {
      color: #fff;
    }
  }

  .page-links a::before,
  .page-links a::after {
  	display: inline-block;
  	opacity: 0;
  	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
  	transition: transform 0.3s, opacity 0.2s;
  }

  .page-links a::before {
  	margin-right: 10px;
  	content: '[';
    color: #4773b8;
  	-webkit-transform: translateX(20px);
  	-moz-transform: translateX(20px);
  	transform: translateX(20px);
  }

  .page-links a::after {
  	margin-left: 10px;
  	content: ']';
    color: #4773b8;
  	-webkit-transform: translateX(-20px);
  	-moz-transform: translateX(-20px);
  	transform: translateX(-20px);
  }

  .page-links a:hover::before,
  .page-links a:hover::after,
  .page-links a:focus::before,
  .page-links a:focus::after {
  	opacity: 1;
  	-webkit-transform: translateX(0px);
  	-moz-transform: translateX(0px);
  	transform: translateX(0px);
  }

  // a::before {
  //   content: "";
  //   position: absolute;
  //   width: 100%;
  //   height: 2px;
  //   top: 0;
  //   left: 0;
  //   background-color: #4773b8;
  //   visibility: hidden;
  //   -webkit-transform: scaleX(0);
  //   transform: scaleX(0);
  //   -webkit-transition: all 0.1s ease-in-out 0s;
  //   transition: all 0.1s ease-in-out 0s;
  // }
  // a::before {
  //   content: "";
  //   position: absolute;
  //   width: 100%;
  //   height: 2px;
  //   bottom: 0;
  //   left: 0;
  //   background-color: #4773b8;
  //   visibility: hidden;
  //   -webkit-transform: scaleX(0);
  //   transform: scaleX(0);
  //   -webkit-transition: all 0.1s ease-in-out 0s;
  //   transition: all 0.1s ease-in-out 0s;
  // }
  // // li:hover > a{
  // // 	color: #4773b8;
  // // 	transition: color .1s ease-in;
  // // }
  // li:hover a::before {
  // 	visibility: visible;
  // 	-webkit-transform: scaleX(1);
  // 	transform: scaleX(1);
  // }
}

.is-stuck .main-site-nav {
  padding: .5rem 1rem;
  transition: padding .25s ease;
}

.mobile-navbar {
    width: 100%;
    min-height: 60px;
    button {
        margin:0;
    }
  }
