.mobileNav {
    background: #222;
    .close-button {
        color: #fff;
        outline: none;
        &:hover {
            color:$primary-color;
        }
    }
    li {
        border-bottom:solid 1px $dark-gray;
        background: #333;
        transition: background .2s ease-in-out;
        &:hover {
            background: $dark-gray;
            transition: background .2s ease-in-out;
        }
        a {
            color: #fff;
            transition: color .2s ease-in-out;
            &:hover {
                color: $primary-color;
                transition: color .2s ease-in-out;
            }
        }
    }
    .button {
        background: $primary-color;
        color: $dark-gray;
        &:hover {
            color: #fff;
        }
    }
}
