// Nav
.main-post-nav {
    padding: 0.25rem;
    transition: padding 0.25s ease;
    background: $dark-gray;
    width: 100%;
    border-bottom: solid 1px #000;
    border-top: solid 1px #000;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    position: relative;
    .menu {
        background: transparent;
    }
    .button {
        margin: 0;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        span {
            padding: 0 0.25rem;
        }
        span::after,
        span::before {
            display: inline-block;
        }
        span::before {
            margin-right: 0.15rem;
            content: '[';
            color: #4773b8;
        }
        span::after {
            margin-left: 0.15rem;
            content: ']';
            color: #4773b8;
        }
        color: #fff;
        margin: 0 1rem;
        display: inline-flex;
    }
    a {
        color: #fff;
        position: relative;
        padding: 0.5em 0;
        &:focus,
        &:hover {
            color: #fff;
        }
    }
    .post-links {
        a::after,
        a::before {
            display: inline-block;
            opacity: 0;
            -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
            -moz-transition: -moz-transform 0.3s, opacity 0.2s;
            transition: transform 0.3s, opacity 0.2s;
        }
        a::before {
            margin-right: 10px;
            content: '[';
            color: #4773b8;
            -webkit-transform: translateX(20px);
            -moz-transform: translateX(20px);
            transform: translateX(20px);
        }
        a::after {
            margin-left: 10px;
            content: ']';
            color: #4773b8;
            -webkit-transform: translateX(-20px);
            -moz-transform: translateX(-20px);
            transform: translateX(-20px);
        }
        a:focus::after,
        a:focus::before,
        a:hover::after,
        a:hover::before {
            opacity: 1;
            -webkit-transform: translateX(0px);
            -moz-transform: translateX(0px);
            transform: translateX(0px);
        }
        &.is-active {
            a::after,
            a::before {
                display: inline-block;
                opacity: 1;
                -webkit-transform: translateX(0px);
                -moz-transform: translateX(0px);
                transform: translateX(0px);
            }
            a::before {
                margin-right: 10px;
                content: '[';
                color: #4773b8;
            }
            a::after {
                margin-left: 10px;
                content: ']';
                color: #4773b8;
            }
        }
    }
    .social {
        margin: 0 0.5rem;
        a {
            width: 40px;
            height: 40px;
            padding: 8px;
            margin: 0;
            text-align: center;
            background: rgba(0,0,0,.1);
            color: rgba(255,255,255,.2);
            transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
            &:hover {
                background: rgba(0,0,0,.2);
                color: #b65f1a;
                transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
            }
        }
    }
    .post-info {
        a {
            color: #fff;
            position: relative;
            padding: 1.25rem 1.5rem;
        }
    }
}
.is-stuck .main-site-nav {
    padding: 0.5rem 1rem;
    transition: padding 0.25s ease;
}
.mobile-navbar {
    width: 100%;
    min-height: 60px;
    button {
        margin: 0;
    }
}
// for posts
.post-panel {
    display: none;
    padding: $tab-content-padding;
    &.is-active {
        display: block;
    }
}
