// IDEA:20 make this in the future to remove all the markup in the nav/sidebar.html
.sidebar {
    a {
        color: #fff;
        &:focus,
        &:hover {
            color: #fff;
        }
  }
}
