footer {
	background: #222;
	color: #fff;
	min-height: 3em;
	padding: 20px 0;
    h5 {
        color: rgba(255,255,255,.2);
        border-bottom: solid 1px rgba(255,255,255,.05);
        margin-top: 20px;
    }
	ul {
		list-style: none;
        margin:0;
        padding: 0;
	}
    li {
        display: block;
    }
    a {
        color: $primary-color;
    }
    .about {
        img {
            margin: 0 0 15px 0
        }
        p {
            font-size: .85em;
            text-align: left;
        }
				a{
					width: 100%;
					height: 45px;
					padding: 10px;
					border: 2px;
					border-style: solid;
					border-color: rgba(255,255,255,.2);
					text-align: center;
					background: rgba(0,0,0,.1);
					color: rgba(255,255,255,.2);
					transition: background .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
					&:hover {
							background: rgba(0,0,0,.2);
							color: #b65f1a;
							border-color: #b65f1a;
							transition: background .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
					}
				}
    }
    .links, .social, .about {
        padding: 0 30px;
    }
}

.footer-logo {
    width: 90%;
}

.social {
    li {
        display: inline-flex;
        a {
            width: 40px;
            height: 40px;
            padding: 8px;
            text-align: center;
            background: rgba(0,0,0,.1);
            color: rgba(255,255,255,.2);
            transition: background .2s ease-in-out, color .2s ease-in-out;
            &:hover {
                background: rgba(0,0,0,.2);
                color: #b65f1a;
                transition: background .2s ease-in-out, color .2s ease-in-out;
            }
        }
    }
}

.post-footer {
	padding: 20px 0;
	color: #fff;
	background: #111;
}
